    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: rgb(203, 215, 223);
    }
    
    .cards {
        width: 100%;
        height: auto;
        
    }
    
    .card {
        float: left;
        margin: 6%;
        transition: all 0.4s cubic-bezier(0.175, 0.885. 0, 1);
        background-color: rgb(250, 243, 243);
        width: 19%;
        border-radius: 10px;
        height: 0%;
        padding: 10px;
    }
    .card:hover {
        color: rgb(255, 0, 0);
    }
    .card_img {
        width: 100%;
        padding: 0px 90px 30px 0px;
    }
    .heading_style {
        text-align: center;
        font-size: 20px;
        color: grey;
        padding: 30px 0;
        background-color: white;
        margin-bottom: 30px;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    .card_category {
        text-align: center;
        font-size: 20px;
        color: grey;
        margin-bottom: 30px;
        font-size: 15px;
        letter-spacing: 2px;
    }
    